.parents {
  margin: 50px 0;
}

.block {
  width: 200px;
  height: 200px;
  border: 5px solid hotpink;
  background-color: pink;
}

.inline {
  width: 200px;
  height: 200px;
  display: inline;
  border: 5px solid skyblue;
  background-color: powderblue;
}

.inline-block {
  width: 200px;
  height: 200px;
  display: inline-block;
  border: 5px solid yellow;
  background-color: lightgoldenrodyellow;
}

.flex {
  width: 200px;
  height: 200px;
  border: 5px solid green;
  background-color: greenyellow;
}

.parents4 {
  display: flex;
}
