.bg,
.bg1,
.bg2 {
  height: 400px;
  width: 400px;
  margin: 10px 0;
  display: flex;
  border: 1px dashed black;
}

.bg1 {
  height: 200px;
}

.bg2 {
  flex-wrap: wrap;
}

.box {
  height: 100px;
  width: 100px;
}

/* .fd-row-p {
  flex-direction: row;
  기본값이므로 굳이 안 써도 됨
} */

.fd-column-p {
  flex-direction: column;
}

.fd-column {
  border: 1px solid pink;
  background-color: lavenderblush;
}

.fd-row-reverse-p {
  flex-direction: row-reverse;
}

.fd-row-reverse {
  border: 1px solid aquamarine;
  background-color: mintcream;
}

/* .fw-nowrap-p {
  flex-wrap: nowrap;
  기본값이므로 굳이 안 써도 됨
} */

.fw-wrap-p {
  flex-wrap: wrap;
}

.fw-wrap {
  border: 1px solid yellow;
  background-color: lightyellow;
}

.fw-wrap-reverse-p {
  flex-wrap: wrap-reverse;
}

.fw-wrap-reverse {
  border: 1px solid skyblue;
  background-color: lightcyan;
}

.ff-column-reverse-nowrap {
  border: 1px solid darkseagreen;
  background-color: honeydew;
}

/* .jc-flex-start-p {
  justify-content: flex-start;
  기본값이므로 굳이 안 써도 됨
} */

.jc-center-p {
  justify-content: center;
}

.jc-center {
  border: 1px solid lightpink;
  background-color: mistyrose;
}

.jc-space-between-p {
  justify-content: space-between;
}

.jc-space-between {
  border: 1px solid mediumturquoise;
  background-color: paleturquoise;
}

.ai-center-p {
  align-items: center;
}

.ai-center {
  border: 1px solid gold;
  background-color: ivory;
}

.ai-end-p {
  align-items: end;
}

.ai-end {
  border: 1px solid mediumpurple;
  background-color: lavender;
}

.ac-space-around-p {
  align-content: space-around;
}

.ac-space-around {
  border: 1px solid powderblue;
  background-color: azure;
}

.ac-start-p {
  align-content: start;
}

.ac-start {
  border: 1px solid gainsboro;
  background-color: whitesmoke;
}

.ai-stretch-p {
  align-items: stretch;
  align-items: normal;
}

.ai-stretch {
  height: auto;
  border: 1px solid darkkhaki;
  background-color: beige;
}

.ai-stretch2 {
  border: 1px solid mediumorchid;
  background-color: thistle;
}

.ac-stretch-p {
  align-content: stretch;
}

.ac-stretch {
  width: auto;
  border: 1px solid lightskyblue;
  background-color: aliceblue;
}

.ac-stretch2 {
  height: auto;
  width: auto;
  border: 1px solid burlywood;
  background-color: oldlace;
}
