.grid {
  background-color: black;
  color: white;
  display: grid;
  gap: 5px;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px);
  /* align-content, justify-content, place-content,
  align-items, justify-items, place-items 자리 */
}

.header {
  background-color: springgreen;
  /* align-self, justify-self, place-self 자리 */
}

.content {
  background-color: deepskyblue;
}

.nav {
  background-color: mediumpurple;
}

.footer {
  background-color: orange;
}
