.grid {
  color: white;
  display: grid;
  gap: 5px;
  /* max-content는 내부 텍스트가 개행하지 않아도 될만큼의 공간을 확보.
  min-content는 내부 텍스트의 가장 긴 단어 기준으로 공간 확보. */
  grid-template-columns: max-content min-content;
  grid-auto-rows: 100px;
  margin-bottom: 30px;
}

.item:nth-child(odd) {
  background-color: springgreen;
}

.item:nth-child(even) {
  background-color: deepskyblue;
}

body {
  background-color: black;
}
