.bg,
.bg2,
.bg3,
.bg4 {
  margin: 10px 0;
  display: flex;
  border: 1px dashed black;
}

.bg {
  height: 300px;
  width: 800px;
}

.box {
  height: 100px;
  width: 200px;
}

/* .fd-row-p {
  flex-direction: row;
  기본값이므로 굳이 안 써도 됨
} */

.fd-column-p {
  flex-direction: column;
}

.fd-column {
  border: 1px solid pink;
  background-color: lavenderblush;
}

.fd-row-reverse-p {
  flex-direction: row-reverse;
}

.fd-row-reverse {
  border: 1px solid aquamarine;
  background-color: mintcream;
}

/* .fw-nowrap-p {
  flex-wrap: nowrap;
  기본값이므로 굳이 안 써도 됨
} */

.fw-wrap-p {
  flex-wrap: wrap;
}

.fw-wrap {
  border: 1px solid yellow;
  background-color: lightyellow;
}

.fw-wrap-reverse-p {
  flex-wrap: wrap-reverse;
}

.fw-wrap-reverse {
  border: 1px solid skyblue;
  background-color: lightcyan;
}

.ff-column-reverse-nowrap {
  border: 1px solid darkseagreen;
  background-color: honeydew;
}

.bg2 {
  height: 250px;
  width: 500px;
}

.box2 {
  height: 100px;
  width: 100px;
}

/* .jc-flex-start-p {
  justify-content: flex-start;
  기본값이므로 굳이 안 써도 됨
} */

.jc-center-p {
  justify-content: center;
}

.jc-center {
  border: 1px solid lightpink;
  background-color: mistyrose;
}

.jc-space-between-p {
  justify-content: space-between;
}

.jc-space-between {
  border: 1px solid mediumturquoise;
  background-color: paleturquoise;
}

/* .ai-stretch-p {
  align-items: stretch;
  기본값이므로 굳이 안 써도 됨
  align-items: normal;
  과 동일
} */

.ai-center-p {
  align-items: center;
}

.ai-center {
  border: 1px solid gainsboro;
  background-color: whitesmoke;
}

.ai-end-p {
  align-items: end;
}

.ai-end {
  border: 1px solid gold;
  background-color: ivory;
}

.bg3 {
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
}

.box3 {
  height: 120px;
  width: 120px;
}

/* .ac-stretch-p {
  align-content: stretch;
  기본값이므로 굳이 안 써도 됨
  align-items와 동일한 케이스
} */

.ac-space-around-p {
  align-content: space-around;
}

.ac-space-around {
  border: 1px solid mediumpurple;
  background-color: lavender;
}

.ac-start-p {
  align-content: start;
}

.ac-start {
  border: 1px solid powderblue;
  background-color: azure;
}
