.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
}

.header {
  background-color: springgreen;
  grid-column: span 4;
}

.content {
  background-color: deepskyblue;
  /* grid-area: 시작row / 시작column / 끝row / 끝column; */
  grid-area: 2 / 1 / 4 / 4;
  /* grid-area: 시작row / 시작column / span row값 / span column값; */
  /* grid-area: 2 / 1 / span 2 / span 3; */
}

.nav {
  background-color: mediumpurple;
  grid-row: span 2;
}

.footer {
  background-color: orange;
  grid-column: span 4;
}
