.grid {
  background-color: black;
  color: white;
  display: grid;
  gap: 5px;
  height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  /* align-content: stretch; 
  align-content: start;
  align-content: center;
  align-content: end;
  justify-content: space-around;
  align-content: space-between;
  align-content: space-evenly; */
}

.header {
  background-color: springgreen;
}

.content {
  background-color: deepskyblue;
}

.nav {
  background-color: mediumpurple;
}

.footer {
  background-color: orange;
}
