.grid {
  color: white;
  display: grid;
  gap: 5px;
  grid-auto-rows: 100px;
  margin-bottom: 30px;
}

.item:nth-child(odd) {
  background-color: springgreen;
}
.item:nth-child(even) {
  background-color: deepskyblue;
}

.grid:first-child {
  /* 화면 너비에 따라 자동으로 투명한 column을 생성함 */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid:last-child {
  /* 화면 너비에 따라 자동으로 column의 너비를 늘림 */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
