.grid {
  background-color: black;
  color: white;
  display: grid;
  gap: 5px;
  height: 50vh;
  /* grid-template-columns: repeat(10, minmax(50px, 150px));
  column의 너비가 최소 50px부터 최대 150px 사이로 설정됨 */
  grid-template-columns: repeat(10, minmax(50px, 1fr));
  grid-template-rows: repeat(4, 100px);
}

.item:nth-child(odd) {
  background-color: springgreen;
}

.item:nth-child(even) {
  background-color: deepskyblue;
}
