@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color: #f6f6f6;
  padding: 50px 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.paris {
  font-size: 128px;
}

.six {
  font-size: 48px;
}

.content {
  border-top: 1px solid black;
  margin: 15px 0 100px 0;
  padding: 20px 0;
  display: flex;
}

.country,
.colours {
  width: 12.5%;
  margin-right: 12.5%;
}

.www {
  width: 50%;
  text-align: end;
}

.father {
  display: flex;
  /* Main Axis */
  justify-content: space-around;
  height: 770px;
  align-content: space-between;
  flex-wrap: wrap;
}

.child {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background: lightblue;
}

.black {
  background: gray;
}

.green {
  background: mediumseagreen;
}
