@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  height: 100vh;
  width: 100%;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__cate {
  border: 2px solid black;
  width: 20%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__cate__text {
  border: 1px solid green;
}
.header__cate__chev {
  border: 1px solid yellow;
}

.main {
  border: 1px solid red;
}
